
/*Fonts imports*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto:300,400,500,700,900');

*{
	font-family: 'Roboto', sans-serif;
	/*font-family: 'Noto Sans', sans-serif;*/
}

#bannerContainer{
	background-image:url("../img/webDesign-1.jpg");
	background-repeat: no-repeat;	
	background-size: cover;
	background-position: center;	
}
.texto{
	display: flex;
	width: 80%;
	height: 130px;
	font-size: 70px;
	line-height:130px;
	overflow: hidden;
	margin-top: 25px;

	
	position: absolute;
	Top:40%;
	right:0;
	botom:0;
	left:0;
	margin:auto;
	padding-left: 7%;


}

#texto-2{
	font-weight: 300;
	position: absolute;
	position: absolute;
	Top:33%;
	right:0;
	botom:0;
	left:38%;
	font-size: 2em;
}

.main-text{
	font-weight: 700;
}


#bannerRow{
		background-color: rgba(0,0,0,0.7); 
}

#animated-text{
	list-style: none;
	padding-left: 10px; 
	animation:cambiar 7s infinite ease-in-out;

}

#logoText{
	color: grey;
	font-size: 2.5em;
	transition: all .1s ease-in;
	margin-top: 10%; 
}


ul,p{
	margin:0;
	font-size: 1.5em;
	color: #fff;
}
p{
	margin-right: 2px;
}


/*<---------------------navbar-------------------------------->*/
#mainNav{
	border-bottom: 0px;
	background-color: rgba(0,0,0,.0);
	transition: all .2s ease-in-out;
}

#navbarCollapse{
	padding-right:45px;
	padding-left: 45px; 
}

#navbarCollapse li a{
	font-size:.9em;
	transition: color .2s ease-in-out;
	font-weight: 700;

}

#navbarCollapse li a:hover{
	color:white;
}


#navContainer{
	transition: all .2s ease-in-out;
}
/* <------------------Text Animation-------------> */

@keyframes cambiar{
	0%{ margin-top: 0; opacity: 1;}
	20%{margin-top: 0; opacity: 1;}

	25%{margin-top: 0px opacity: 1;}
	40%{opacity: .2;}
	50%{margin-top: -130px; opacity: 1}

	55%{margin-top: -130px;}
	80%{margin-top: -130px;}

	85%{margin-top: -130px; opacity: 1;}
	90%{opacity: .2;}
	95%{margin-top: 0px; opacity: 1;}

	100%{margin-top: 0px;}
}


/* <-------------- About me  ------------>*/
#about{
	background-color: #75A48B;
}

.primary{
	width: 50px;
	border: solid 1px white;
	border-radius: 15%
}

#aboutText{
	margin: 0px 0px 50px 0px;
}

#aboutRow{
	padding: 2%;
}


/*<<--------------------Skill Section --------------->> */

#skill{
	background-color: #75A48B;

}

#skill h2,.skillContainers h3{
	color:white;
}
.skillContainers{
	height: 400px;
	padding: 5%;
}

/* << --------------- Footer --------------------->> */
footer{
	background-color: #3A3A3A;
	background-attachment: fixed;
}
#footerRow{
	padding: 5% 0px;
}



/* <<------------------>> media queries <<------------------>> */
