
/*Fonts imports*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700');

*{
	font-family: 'Roboto', sans-serif;
	/*font-family: 'Noto Sans', sans-serif;*/
}

#bannerContainer{
	background-image:url("../img/webDesign-1.jpg");
	background-repeat: no-repeat;	
	background-size: cover;
	background-position: center;
}
.texto{
	display: flex;
	min-width: 100%;
	height: 130px;
	font-size: 70px;
	line-height:130px;
	overflow: hidden;
	margin-top: 25px;
}



#contenedorBanner{
	display: table-cell;
	vertical-align: middle;
}
#texto-2{
	font-weight: 300;
	font-size: 2em;
}

.main-text{
	font-weight: 700;
}


#bannerRow{
		background-color: rgba(0,0,0,0.7); 
		min-width: 100%;
		padding: 15%;
}

#animated-text{
	list-style: none;
	padding-left: 10px; 
	animation:cambiar 7s infinite ease-in-out;

}

#logoText{
	color: grey;
	font-size: 2.5em;
	transition: all .1s ease-in;
	margin-top: 10%; 
}


ul,p{
	margin:0;
	font-size: 1.5em;
	color: #fff;
}
p{
	margin-right: 2px;
}


/*<---------------------navbar-------------------------------->*/
#mainNav{
	border-bottom: 0px;
	background-color: rgba(0,0,0,.0);
	transition: all .2s ease-in-out;
}

#navbarCollapse{
	padding-right:45px;
	padding-left: 45px; 
}

#navbarCollapse li a{
	font-size:.9em;
	transition: color .2s ease-in-out;
	font-weight: 700;

}

#navbarCollapse li a:hover{
	color:white;
}


#navContainer{
	transition: all .2s ease-in-out;
}
/* <------------------Text Animation-------------> */

@keyframes cambiar{
	0%{ margin-top: 0; opacity: 1;}
	20%{margin-top: 0; opacity: 1;}

	25%{margin-top: 0px opacity: 1;}
	40%{opacity: .2;}
	50%{margin-top: -130px; opacity: 1}

	55%{margin-top: -130px;}
	80%{margin-top: -130px;}

	85%{margin-top: -130px; opacity: 1;}
	90%{opacity: .2;}
	95%{margin-top: 0px; opacity: 1;}

	100%{margin-top: 0px;}
}


/* <-------------- About me  ------------>*/
#about{
	background-color: #75A48B;
}

.primary{
	border-radius: 15%;
	max-width:80%;
	margin-bottom:35px ;
	margin-top:35px ;
}

#aboutText{
	margin: 0px 0px 50px 0px;
}

#aboutRow{
	padding: 2%;
}


/*<<--------------------Skill Section --------------->> */
#skill{
	background-color: #fff;
	margin-top: 50px;
}

.titles{
	font-family: 'Raleway', sans-serif;
	font-size: 3.5em;
}

#titleSkill p{
	color:black;
	font-size: 1.2em;
	font-weight: 100;
}

#menuSkills{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.description{
	list-style: none;
	margin: 0px 25px ;
	cursor: pointer;
}


.insideDiv{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: table;
    transform: scale(.8);
    border: solid 1.4px black;
    margin-bottom: 0;

}
.insideDiv img{
    width: 50%;
    margin: 20px auto;
    transition:all .2s ease-in; 
}



.unactive:hover{
	background-color: #EBEBEB;
}

.unactive:hover img{
	transform: scale(1.1);
}

.textMenu p{
	color:black;
	font-size: .8em;
	font-weight: 500;
	text-align: center;
}

#design p{
	color:black;
}

#design{
	margin:5% 0px;
}

#left-skill{
	min-height: 400px;
	background-image: url(../img/idk/placeholder.png); 
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat; 
}

#skillRight{
	margin-top: 50px;
	text-align:justify;
}

#skillRight h3{
	font-size: 3em;
	font-weight: 400;
	text-transform: capitalize;
	margin: 0px;

}


#skillRight p, #skillRight ul{
	font-weight: 300;
	margin: 50px 20px;
	margin-left: 0px;
	color: black;
	text-transform: initial;
}


.unactive{
	transition:all .2s ease-out; 
}
.active{
	background-color: #2F9FCB;
}





/* <<------------------------ Projects  ------------------------------->>*/

.descWorks{
	padding: 5%;
	padding-top:0; 
}

.descWorks p{
	color:black;
	font-weight: 100;
	margin-bottom: 20px;
}
.descWorks h3{
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	font-weight: 400;
	margin-bottom: 20px;	
}


.descWorks button{
	
}

.imgWorks{
	opacity: .85;
	transition: all .2s ease-in-out;	
}
.imgWorks:hover{
	opacity: 1;
	transform: scale(1.01);
}
.btns{

	border: 1px solid #333;
    font-weight: 700;
    padding: 5px 10px;
    text-transform: uppercase;
    background: 0 0;
    letter-spacing: 1px;

	/*Border Radius*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

	/*Transition*/
    -webkit-transition: all .s ease;
    -moz-transition: all .s ease;
    -o-transition: all .s ease;
    transition: all .s ease;
}

.btns:hover{
	background-color: grey;
	color:white;
}





/* << --------------- Footer --------------------->> */
footer{
	background-color: #3A3A3A;
	background-attachment: fixed;
}
#footerRow{
	padding: 5% 0px;
}




